<mat-toolbar color=accent>
    <a routerLink="/">
        <button mat-button>{{appName}}</button>
    </a>

    <!--nav a la izquierda-->
    <span class="fill-remaining-space"></span>
    <a routerLink="/login" routerLinkActive="active">
        <button mat-button>Login</button>
    </a>
    <a routerLink="/admin" routerLinkActive="active">
        <button mat-button>Admin</button>
    </a>
    <a routerLink="/about" routerLinkActive="active">
        <button mat-button>About</button>
    </a>
</mat-toolbar>
